body {
    margin: 0 auto;
}

.menu-barra-superior {
    height: 84px;
    background-color: #0662ad;
    display: flex;
}

.menu-barra-inferior {
    height: 48px;
    background-color: #dfc18d;
    display: flex;
    border-bottom: 4px solid #0662ad;
}

.logo-svg {
    background-color: white;
    border-radius: 50%;
    width: 98px;
    height: 98px;
    margin-left: 150px;
    margin-top: 17px;
    margin-right: 17px;
}

.titulo {
    position: relative;
    color: #fff;
    font-weight: 400;
    font-family: 'Ebrima', sans-serif;
    margin-top: 20px;
    text-transform: uppercase;
    line-height: 10px;
}

.titulo h2 {
    margin-bottom: 0;
    font-size: 20px;
}

.titulo h3 {
    margin-bottom: 0;
    font-size: 17px;
    line-height: 18px;
}

.barra_navegacao {
    color: #fff;
    font-weight: 600;
    font-family: 'Ebrima', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 220px;
    text-shadow: black 0.1em 0.1em 0.2em
}

.barra_navegacao_links {
    width: 900px;
    margin: 0 auto;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.barra_navegacao_links li {
    text-decoration: none;
    list-style-type: none;
    height: 48px;
    width: 120px;
    padding-top: 2%;
    text-align: center;
}

.barra_navegacao_links li:hover {
    background-color: #0662ad;
    width: 120px;
    border-bottom: 4px solid #dfc18d;
}

#carrousel-slide {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    max-height: 400px;
}