body {
    margin: 0 auto;
}

.menu-barra-superior {
    height: 84px;
    background-color: #286da8;
    display: flex;
}

.menu-barra-inferior {
    height: 48px;
    background-color: #eac67a;
    display: flex;
    border-bottom: 4px solid #286da8;
}

.logo-svg {
    background-color: #eac67a;
    border-radius: 50% ;
    width: 98px;
    height: 98px;
    margin-left: 150px;
    margin-top: 17px;
    margin-right: 17px;
}

.titulo {
    position: relative;
    color: #fff;
    font-weight: 400;
    font-family: 'Ebrima', sans-serif;
    margin-top: 20px;
    text-transform: uppercase;
    line-height: 10px;
}

.titulo h2 {
    margin-bottom: 0;
    font-size: 20px;
}

.titulo h3 {
    margin-bottom: 0;
    font-size: 17px;
    line-height: 18px;
}

.barra_navegacao {
    color: #fff;
    font-weight: 600;
    font-family: 'Ebrima', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 220px;
    text-shadow: black 0.1em 0.1em 0.2em
}

.barra_navegacao_links {
    width: 900px;
    margin: 0 auto;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.barra_navegacao_links li {
    text-decoration: none;
    list-style-type: none;
    height: 48px;
    width: 120px;
    padding-top: 2%;
    text-align: center;
}

.barra_navegacao_links li:hover {
    transition: 0.5s;
    background-color: #286da8;
    color: #eac67a;
    width: 120px;
    border-bottom: 4px solid #eac67a;
}

/* início estilo carrossel */
.carousel-img {
    min-height: 450px;
    max-height: 450px;
}

.carousel,
.item,
.active {
    height: 100%;
    height: 500px;
}

.slide {
    margin: 10px auto;
}

.item img {
    width: 100%;
    height: 600px;
}

a.left {
    box-shadow: 0px;
}

a.left:hover {
    box-shadow: 0px;
}

.carousel-inner {
    height: 100%;
}

.carrosel {
    background-color: white;
    width: 100%
}
/* fim estilo carrossel */

/* início titulos da página */
.titulo-site {
    color: #286da8;
    border-bottom: 3px solid #eac67a;
    margin: 10px auto;
}
/* fim titulos da página */

/* início estilo tabela classificação */
.tabela_classificacao {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 400px;
    margin: 20px auto;
    border: 1px solid #286da8;
    float: left;
}

td,
th {
    padding: 12px;
    border-bottom: #286da8 solid 1px;
    font-size: 14px;
}

.tabela_classificacao thead th {
    background-color: #286da8;
    color: white;
    font-size: 16px;
}

.tabela_classificacao td {
    font-weight: bold;
    color: #286da8;
}

.tabela-titulo {
    text-align: center;
}

.col-peq {
    width: 7%;
    text-align: center;
}

.col-times {
    width: 51%;
    text-align: left;
}

/* fim estilo tabela classificação */